<div id="aboutMain">
	<h1>About Impaq.Me</h1>
	<p><strong>Impaq.Me</strong> is an innovative 'social reward' project to help nonprofits receive philanthropic revenue through proprietary 'share' tools.</p>
	<p>The purpose of Impaq.Me is to help foundations and philanthropists support multiple nonprofit organizations that generate demonstrable action through the web, mobile and social networks.</p>
	<h3>About This Funding</h3>
	<p>INN has received funding from the <a href="http://www.journalismfoundation.org/">Ethics and Excellence in Journalism Foundation</a> to fund the development of a prototype that would allow nonprofits to receive micro-support payments as a direct result of people sharing stories and projects that impact them.</p>
	<p><strong>For more information contact:</strong> <a href="mailto:impaqme@investigativenewsnetwork.org">impaqme@investigativenewsnetwork.org</a></p>
	<h3>About the Investigative News Network</h3>
	<p>Impaq.Me is a project of the <a href="http://investigativenewsnetwork.org">Investigative News Network</a>, a 501(c)(3) nonprofit organization that focuses on nurturing sustainable nonprofit businesses that inform the public and serve the public interest.</p>
</div>