<div id="aboutMain">

	<h1>About Impaq.Me</h1>
	<p><strong>Impaq.Me</strong> is an innovative 'social reward' project to help nonprofits receive philanthropic revenue through proprietary 'share' tools.</p>
	<p>The purpose of Impaq.Me is to help foundations and philanthropists support multiple nonprofit organizations that generate demonstrable action through the web, mobile and social networks.</p>
	<p><strong>For more information contact:</strong> <a href="mailto:impaqme@investigativenewsnetwork.org">impaqme@investigativenewsnetwork.org</a></p>

	<h3>For Foundations</h3>

	<p>Do you want to know if the money you’re spending has impact?</p>

	<p>In today’s environment, even the most cutting edge foundations don’t have as much data as they would like about what impact their investment has.</p>

	<p>That’s where Impaq.me comes in.</p>

	<p>Impaq.me is a tool that allows funders to track the impact of every dollar they invest in a nonprofit.</p>

	<p>Using Impaq.me, you not only put your money to work in a way that you can see, but by engaging your grantees in an Impaq.me campaign, the will gain access to technology that will allow them to leverage social networks and build intelligence about their supporters in the exact same way the world’s biggest brands do. Investing with a nonprofit through Impaq.me leaves a lasting impact because it leaves behind critical digital and social media skills, and a whole new pool of information about supporters and potential supporters that a nonprofit can draw on long after their grant term has ended.</p>

	<p>By using Impaq.me, foundations receive the following benefits:</p>

	<ul>
		<li>Decision-making dashboards showing a grantee’s day-by-day and overall performance in a campaign.  Never again will you have to wonder if that digital product you invested in is being seen or not.</li>
		<li>Rightsizing your investment. Using Impaq.me, grantees have to demonstrate initiative in reaching out to their community to earn your support.</li>
		<li>Ability to invest at any scale – even by spreading your impact across far more nonprofits than would be practical to handle as individual grantees.  You can include as many nonprofits as you like in an Impaq.me campaign; tracking of a nonprofit’s performance and payments are completely automated, and you receive all the reports you need for your own operations automatically.</li>
	</ul>

	<h3>For Nonprofits and Publishers</h3>

	<p>Would you like to turn visitors to your site into supporters of your cause?</p>

	<p>Impaq.me is a tool that allows charitable funders to double the impact of a grant by challenging your community to spread the word about you.</p>

	<p>Impaq.me campaigns are as simple to implement as embedding a YouTube video, and use the same cutting edge social media and sophisticated analytics the world’s biggest brands do – at no cost to you.</p>

	<p>Here’s how an Impaq.me campaign works:</p>

	<ul>
		<li>Drop the Impaq.me share code into your site. Instantly, your visitors will see a new way to support you on each page of your site.</li>
		<li>Encourage your visitors to become supporters by tweeting a link to your site, or posting a link to Facebook. For each time a visitor spreads the word about your organization through their social networks, you get $1. Even better, each time one of their friends clicks on that shared link, you get $1.  Participants in a test of Impaq.me had 5.3 clicks on each link a visitor shared, earning them $6 for every time a visitor chose to share a link from their site.</li>
	</ul>

	<p>Earning money to support your organization and having your supporters spread the word for you through their social networks is pretty good all by itself – but Impaq.me gives you more. Big brands and nonprofits use sophisticated dashboards to help them understand and improve their performance in reaching out to and connecting with supporters. Impaq.me gives you those same tools to use to build your own organization. With Impaq.me, you will know:</p>

	<ul>
		<li>What content your supporters chose to share</li>
		<li>What times of day and week are the most active on your site</li>
		<li>What social media platforms are used the most by your supporters</li>
	</ul>

	<p>Not only that, participating in an Impaq.me campaign will give you a valuable source of information on who your supporters are and what they like about you that you can use to guide your efforts for years to come.</p>

	<h3>About This Funding</h3>
	<p>INN thanks the <a href="http://www.journalismfoundation.org/">Ethics and Excellence in Journalism Foundation</a> for providing funding to develop a prototype to allow nonprofits to receive micro-support payments as a direct result of people sharing stories and projects that impact them.</p>

	<h3>About the Investigative News Network</h3>
	<p>Impaq.Me is a project of the <a href="http://investigativenewsnetwork.org">Investigative News Network</a>, a 501(c)(3) nonprofit organization that focuses on nurturing sustainable nonprofit businesses that inform the public and serve the public interest.</p>

</div>