<div id="fb-root"></div>
<section>
  <main>
  </main>
  <footer>
    <small>about this funding</small><small>powered by impaq.me</small>
  </footer>
</section>

<script> window.impaqme = <%= j @campaign.to_json.html_safe %>; </script>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"));</script>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","facebook-jssdk"));</script>
