@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  color: #666666;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
section #wrapper {
margin: .7em 0;
}
main,
aside {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
main {
  width: 80%;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: #666666;
}
main > div {
  margin: 0 17px;
}
main > div #share,
main > div #campaign_meter,
main > div #details {
  margin: 1em 0;
}
main > div #share {
  font-size: 13px;
}
main > div #share > * {
  vertical-align: middle;
  line-height:1.5;
  margin: 0 10px;
}
main > div #share :first-child {
  margin-left: 0;
}
main > div #share input {
  border: 1px solid #6D6E71;
  background-color: #FFFFFF;
  color: #6D6E71;
  padding: .2em .75em;
  width:300px;
}
main > div #share input::-webkit-input-placeholder,
main > div #share input:-moz-placeholder,
main > div #share input::-moz-placeholder,
main > div #share input:-ms-input-placeholder {
  /* Gotham book italic */
  font-size: 13px;
  color:#BCBEC0;
  font-style: italic;
}
main > div #share .fb-like {
  height:20px;
}
main > div #campaign_meter {
  position: relative;
  background: #BCBEC0;
  color: #FFFFFF;
  font-size: 10px;
  padding-left: 1em;
}
main > div #campaign_meter #progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #6D6E71;
  z-index:5;
}
main > div #campaign_meter #progress ~ span {
  position:relative;
  z-index:10;
}
main #donate {
  padding-left: 17px;
  margin-right: 17px;
  background: #FAFAFA;
  font-size: 12px;
}
main .donation-callout {
  color:#ED1C24;
  font-style: normal;
}
p {
  padding-top: .3em;
  padding-bottom: .3em;
}
aside {
  padding: 0 17px;
  width: 19%;
  text-align: center;
}
aside q,
aside time {
  font-style: italic;
}
aside time {
  display:block;
  text-align:right;
  font-size: 8px;
  line-height: 3;
}
footer {
  background-color: #ED1C24;
  color: #FFFFFF;
  /*font-family: visitor regular*/

  font-family: "Courier New", Monaco, monospace;
  font-size: 10px;

  padding: .2em 1em;
}
footer small {
  display:inline-block;
  width:50%;
}
footer small:last-child {
  text-align:right;
}
