@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  color: #666666;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

main {
  margin: .7em 0;
}
main > * {
  margin: 1em 17px;
}

#share, #meter {
  display:inline-block;
  box-sizing: border-box;
}

#share {
  font-size: 13px;
  width: 250px;;
}
#share > * {
  vertical-align: middle;
  line-height:1.5;
  margin: 0 7px;
}
#share :first-child {
  margin-left: 0;
}
/* #share input { */
/*   border: 1px solid #6D6E71; */
/*   background-color: #FFFFFF; */
/*   color: #6D6E71; */
/*   padding: .2em .75em; */
/*   width:300px; */
/* } */
/* #share input::-webkit-input-placeholder, */
/* #share input:-moz-placeholder, */
/* #share input::-moz-placeholder, */
/* #share input:-ms-input-placeholder { */
/*   /1* Gotham book italic *1/ */
/*   font-size: 13px; */
/*   color:#BCBEC0; */
/*   font-style: italic; */
/* } */
#share .fb-like {
  height:20px;
}

#meter {
  position: relative;
  background: #BCBEC0;
  color: #FFFFFF;
  font-size: 10px;
  padding-left: 1em;
}
#meter #progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #6D6E71;
  z-index:5;
}
#meter #progress ~ span {
  position:relative;
  z-index:10;
}

#donate {
  margin-left: 0;
  padding-left: 17px;
  background: #FAFAFA;
  font-size: 12px;
}

.share-value,
.donation-value {
  color:#ED1C24;
  font-style: normal;
}

p {
  padding-top: .3em;
  padding-bottom: .3em;
}


footer {
  background-color: #ED1C24;
  color: #FFFFFF;
  /*font-family: visitor regular*/

  font-family: "Courier New", Monaco, monospace;
  font-size: 10px;

  padding: .2em 1em;
}
footer small {
  display:inline-block;
  width:50%;
}
footer small:last-child {
  text-align:right;
}
