$impaqme-primary: #E9695C
$impaqme-secondary: #BCBCBD

@import "foundation"

// Pizza pie chart config:
.pie
  @include clearfix

  .graph
    width: 91%
    float: right
    margin-top: -30px

  .legend
    padding: 0
    position: absolute

    li:nth-child(1)
      color: #4E69A0


    li:nth-child(2)
      color: #59ADEB


    li:nth-child(3)
      color: #D1493C
