#aboutMain {
}
#aboutMain .header-wrapper,
#aboutMain .footer-wrapper {
  clear: both;
  width: 100%;
}
#aboutMain .header-wrapper {
  background-color: #ED1C24;
}
#aboutMain .footer-wrapper {
  background-color: #333;
}
#aboutMain header,
#aboutMain footer {
  margin: 0 auto;
  width: 960px;
  padding: 50px 0;
  color: #fff;
}
#aboutMain footer {
  padding: 0 0 40px;
  font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
}
#aboutMain footer h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
#aboutMain footer p {
  font-size: 15px;
  line-height: 21px;
}
#aboutMain footer > * {
  text-align: left;
  width: 100%;
  text-transform: none;
}
#aboutMain header h1:before {
  content: '\f004';
  font-family: 'FontAwesome';
  margin-right: 1.25em;
  font-size: 100px;
  float: left;
  width: 0;
  overflow: none;
}
#aboutMain .col-wrapper {
  width: 960px;
  margin: 0 auto;
}
#aboutMain section {
  padding: 20px 0 40px;
}
#aboutMain section h3 {
  font-size: 17px;
  margin-bottom: 12px;
}
#aboutMain section p {
  line-height: 1.5;
  margin-bottom: 1em;
}
#aboutMain section p.intro {
  font-size: 1.2em;
}
#aboutMain .left {
  float: left;
  width: 55%;
}
#aboutMain .left p,
#aboutMain .left ul {
  font-size: 17px;
  line-height: 1.3;
}
#aboutMain .right {
  float: right;
  width: 35%;
  padding: 0 2% 40px;
  margin: 10px 0;
  background-color: #ededed;
}
#aboutMain .right p,
#aboutMain .right ul {
  font-size: 13px;
  line-height: 1.3;
}
#aboutMain .left ul li,
#aboutMain .right ul li {
  margin-bottom: 8px;
}
#aboutMain .btn a {
  background-color: #ED1C24;
  color: #fff;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  top: 20px;
}
#aboutMain .btn a:hover {
  opacity: 0.85;
}
@media only screen and (max-width : 960px) {
  #aboutMain header,
  #aboutMain footer {
    clear: both;
    width: 90%;
  }
  #aboutMain .col-wrapper {
    width: 100%;
    padding: 0;
  }
  #aboutMain .left,
  #aboutMain .right {
    width: 90%;
    padding: 0 5% 0;
    float: left;
  }
}
