<p class="thanks">Thanks to a generous gift from the <%= foundation_name %>,
when you or your friends share our stories we receive $<%= value_per_share %></p>
<header><p>Donate By Sharing  $<%= total %> Donated by sharing this article so far</p></header>
<button style="position:absolute; top:0; right:0;">CLOSE</button>
