<header>
  <p class="iconography">
    <i class="icon-facebook-sign" title="facebook"></i>
    <i class="icon-twitter" title="twitter"></i>
    <i class="icon-envelope-alt" title="email"></i>
    =
    <i class ="icon-heart" title="support"></i>
  </p>
  <h1>Donate By Sharing</h1>
  <p class="progress">$<%= total %> Raised so far</p>
</header>
