<div class="thanks">
  <p>Thanks to a generous gift from <%= foundation_name %>,<br/>
  when you or your friends <strong>share</strong> our stories we receive <strong class="click-value">$<%= value_per_share %></strong></p>
</div>
