<div id="share">
  <input type="text" placeholder="Why was this story important to you?" maxlength="118" autofocus="autofocus" />
  <div class="fb-like" data-href="http://impaq-backend.herokuapp.com/<%= facebook_shortlink %>" data-width="90" data-layout="button_count"></div>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-url="http://impaq-backend.herokuapp.com/<%= twitter_shortlink %>" data-count="none">Tweet</a>
</div>
