<footer><small><a class="about-funding" href="http://impaq.me" target="_blank">about this funding</a></small><small>powered by <a class="about-impaqme" href="http://impaq.me" target="_blank">impaq.me</a></small></footer>
