<!DOCTYPE html>
<html>
<head>
  <title>Impaq.me</title>
  <!--[if lt IE 9]> <script src="/scripts/html5shim.js"></script> <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
