<!DOCTYPE html>
<html>
<head>
  <title>Impaq.me</title>
  <%= stylesheet_link_tag "foundation" %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "foundation"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
